<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Record</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background: url('../static/images/background.webp'); background-size: cover;
background-position: center;">
    <div>
        <nav class="navbar dark p-2 bg-body-tertiary bg-primary shadow-lg">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: aliceblue;"> Welcome {{request.user}}</a>
                <form class="d-flex" role="search">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn btn-success" role="button">Logout</a> {% else %}
                    <a href="{% url 'login' %}" class="btn btn-success" role="button">Login</a> {% endif %}
                </form>
            </div>
        </nav>
    </div>
    <div class="container mt-5">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Task name</th>
                    <th scope="col">Task Description</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for task in task %}
                <tr>
                    <td class="text-white">{{ task.title }}</td>
                    <td class="text-white">{{ task.description }}</td>
                    <td class="text-white">{{ task.duedate }}</td>
                    <td>
                        <a href="/edit/{{ task.id }}" class="btn btn-primary mr-1 table-link btn-block">Edit</a>
                        <a href="/delete/{{ task.id }}" class="btn btn-danger table-link btn-block">Delete</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <hr style="border-color: white;">
        <a href="{% url 'admin' %}" class="btn btn-success add-record-btn">Add Task</a>
    </div>

</body>

</html>